extends layout

block content
    #imageContainer
        span.memoryDes #{locale.memoryDesc}
        video#video(controls muted autoplay)
            source(src="/videos/example.mp4" type="video/mp4")
        //- image#downloadImage(src=src)
        button#createNFT.button #{locale.createNFT}
        input#userName(value=name style="display: none")
        input#userId(value=_id style="display: none")
        input#imageLocale(value=imageLocale style="display: none")
    script(defer src='/javascripts/imageScreen.js')
